body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6C757D;
    text-align: left;
    background-color: #F5F5F5;
}

*, ::before, ::after {
    box-sizing: border-box;
}

.container-element {
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

.row {
    display: flex;
    margin: 0 -15px;
    padding: 0 40px;
    align-items: center;
}

.mt-10 {
    margin-top: 10px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-15{
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 35px;
}

.mr-2 {
    margin-right: 0.5rem;
}

.pt-30 {
    padding-top: 30px;
}

.align-none {
    align-items: stretch;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-right {
    text-align: right;
}

a.logo {
    cursor: pointer;
    text-decoration: none;
}

.bc-green {
    background: #00203fff;
    font-weight: 700;
    font-size: 2rem;
    text-align: left;
    color: #adefd1ff;
    padding: 0 0.5rem;
}

.bc-primary {
    background: #adefd1ff;
}

.bc-purple {
    background: #adefd1ff;
    font-weight: 700;
    font-size: 2rem;
    text-align: right;
    color: #00203fff;
    padding: 0 0.5rem;
    margin-left: -0.5rem;
}

.form-group {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
}

.input-control {
    position: relative;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    flex: 1 1 auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: transparent;
    border: 1px solid #ced4da;
    overflow: hidden;
}

.icon {
    display: flex;
    margin-left: -1px;
} 

.icon span {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    cursor: pointer;
}

.servicio p,h5 {
    margin: 0;
}

.servicio h5 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    color: #3D464D;
}

.bg-dark {
    background: #00203fff;
}

.bg-light {
    background: white;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    padding: 0 15px;
    position: relative;
}

.col-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    width: 100%;
    padding: 0 15px;
    position: relative;
}

.col-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    width: 100%;
    padding: 0 15px;
    position: relative;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    padding: 0 15px;
    position: relative;
}

.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    width: 100%;
    padding: 0 15px;
    position: relative;
}

.col-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    width: 100%;
    padding: 0 15px;
    position: relative;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
    width: 100%;
    padding: 0 15px;
    position: relative;
}

.col-10 {
    flex: 0 0 83.33333%;
    width: 83.33333%;
    width: 100%;
    padding: 0 15px;
    position: relative;
}

.col-11 {
    flex: 0 0 91.666666%;
    max-width: 91.666666%;
    width: 100%;
    padding: 0 15px;
    position: relative;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding: 0 15px;
    position: relative;
}

.nav-item {
    background: #adefd1ff;
    position: relative;
    display: flex;
    text-decoration: none;
    padding: 0 30px;
    color: #00203fff;
    justify-content: space-between;
    align-items: center;
}

h6 {
    flex: 1 1 auto;
    margin: 0 0;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 74px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-flex {
    display: flex;
    align-items: stretch;
}

.col-flex-justify {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    text-decoration: none;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding: 25px 15px;
    outline: none;
    letter-spacing: 2px;
}

.active {
    color: #adefd1ff;
}

.nav-menu:hover {
    color: #adefd1ff;
}

.btn {
    padding: 25px 5px;
    display: inline-block;
    color: #adefd1ff;
    text-decoration: none;
    font-weight: 500;
}

.btn--small {
    padding: 0.55rem;
    color: #00203fff;
    background: white;
    border: none;
    cursor: pointer;
    position: relative;
}

.btn--small:hover {
    background: lightgray;
}

.btn span {
    color: white;
    border: 1px solid #adefd1ff;
    border-radius: 50%;
    padding: 0.25rem 0.4rem;
    font-size: 75%;
    font-weight: 700;
}

.dropdown {
    position: absolute;
    width: calc(100% - 30px);
    background: white;
    z-index: 2;
}

.dropdown-left {
    position: relative;
    width: 100%;
}

.pages {
    position: relative;
}

.pages .dropdown {
    width: auto;
}

.pages .dropdown .dropdown-content{
    min-width: max-content;
}

.pages:hover .dropdown .dropdown-content, .pages:focus .dropdown .dropdown-content{
    display: flex;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .18), 0 6px 10px 0 rgba(0, 0, 0, .2);
}

.col-3:hover .dropdown-content {
    display: block;
}

.dropdown-left .dropdown-content-left{
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background: white;
    border: 0.5px solid #949696;
    width: 100%;
}

.dropdown-left:hover .dropdown-content-left {
    display: block;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    padding: 10px 30px;
    width: 100%;
    flex: 1;
    color: #949696;
}

.dropdown-content a:hover {
    color: black;
}

.dropdown-content a:not(:last-child)::after {
    content: '';
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .05);
    margin-top: 5px;
}

.float-right {
    float: right;
}

.navbar-toggler {
    background: transparent;
    border: 1px solid #949696;
}

.navbar-toggler span {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.carrusel {
    position: relative;
    margin-bottom: 20px;
}

.carrusel-navBtn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 25px;
    z-index: 99;
}

.carrusel-navBtn .Btn {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background: transparent;
    border: 2px solid #adefd1ff;
    cursor: pointer;
    flex: 0 1 auto;
    box-sizing: content-box;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.carrusel-navBtn .Btn.selected {
    width: 30px;
    background: #adefd1ff;
}

.carrusel-item {
    position: relative;
    display: none;
    width: 100%;
    height: 420px;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}

.carrusel-item.hight-auto {
    height: auto;
}

.carrusel-item.active {
    display: block;
    animation-name: fade;
    animation-duration: 1.2s;
}

@keyframes fade {
    from {opacity: 0.6;}
    to {opacity: 1;}
}

.carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.carrusel-description {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.3);
}

.carrusel-description div {
    max-width: 700px;
    text-align: center;
}

.carrusel-description h3 {
    font-size: 2.5rem;
    color: white;
    margin-top: 0;
    margin-bottom: 16px;
    animation-name: fadeInDown;
    animation-duration: 1s;

}

.carrusel-description p {
    font-size: 1.2rem;
    color: white;
    margin: 0 30px;
    padding: 0 15px;
    margin-bottom: 16px;
    animation-name: bounceIn;
    animation-duration: 0.7s;
}

.carrusel-description button {
    background: transparent;
    border: 1px solid #adefd1ff;
    color: white;
    padding: 15px;
    font-size: 1.1rem;
    margin-top: 16px;
    transition: 0.4s ease;
    animation-name: fadeInUp;
    animation-duration: 1s;
}

@keyframes fadeInDown {
    from {opacity: 0; transform: translateY(-100%);}
    to {opacity: 1; transform: translateY(0%)}
}

@keyframes fadeInUp {
    from {opacity: 0; transform: translateY(100%);}
    to {opacity: 1; transform: translateY(0%)}
}

@keyframes bounceIn {
    0% {opacity: 0; transform: scale3d(0.3,0.3,0.3);}
    20% {transform: scale3d(1.1,1.1,1.1);}
    40% {transform: scale3d(0.9,0.9,0.9);}
    60% {opacity: 1; transform: scale3d(1.03,1.03,1.03);}
    80% {transform: scale3d(0.97,0.97,0.97);}
    100% {opacity: 1; transform: scaleX(1);}
}

.carrusel-description button:hover {
    color: #adefd1ff;
    border-color: #00203fff;
    background: #00203fff;
}

.arrow-carrusel {
    position: absolute;
    top: 50%;
    display: block;
    width: auto;
    padding: 20px;
    transform: translate(0,-50%);
    color: #adefd1ff;
    font-weight: bold;
    font-size: 35px;
    user-select: none;
    transition: 0.3s ease;
}

.arrow-carrusel:hover {
    background: #00203fff;
}

.arrow-carrusel.right {
    right: 0;
}

.product-ofert {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.product-ofert img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s ease;
}

.product-ofert-description {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .3);
}

.product-ofert-description h4{
    color: white;
    font-size: 1.5rem;
    margin: 5px;
    font-weight: bold;
}

.product-ofert-description p {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 5px;
}

.product-ofert-description button {
    padding: 15px;
    background: #adefd1ff;
    color: #00203fff;
    font-weight: bold;
    outline: none;
    border: none;
    margin: 5px;
    transition: .4s ease;
}

.product-ofert:hover img {
    transform: rotate(5deg) scale(1.2);
}

.product-ofert-description button:hover {
    color: white;
    background: #00203fff;
}

.benefits {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px 30px;
}

.benefits h1 {
    color: #adefd1ff;
    margin-right: 25px;
    font-weight: bold;
}

.benefits p {
    font-size: 1.1rem;
    font-weight: bold;
}

.categorie-title {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.categorie-title div {
    width: 100%;
    border-bottom: 1px dashed gray;
    margin: 0 15px;
}

.cart {
    display: flex;
    align-items: center;
    background: white;
    height: 120px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 30px;
}

.cart-image {
    height: 120px;
    width: 120px;
    overflow: hidden;
}
.cart-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s ease;
}

.cart-description {
    flex: 1;
    padding-left: 15px;
    transition: .4s ease;
}

.cart-description h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px 0;
}

.cart-description p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 5px 0;
}

.cart:hover {
    background: #adefd1ff;
    color: #00203fff;
}

.cart:hover .cart-image img {
    transform: scale(1.2) rotate(3deg);
}

.cart-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    margin-bottom: 30px;
}

.cart-products-image {
    overflow: hidden;
    position: relative;
    overflow: hidden;
}

.cart-products-image img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
    transition: 0.5s ease;
}

.cart-products-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.flex-overlay {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.overlay-button {
    font-size: 1.4rem;
    font-weight: 500;
    border: 1px solid black;
    color: #00203fff;
    margin-left: 10px;
    margin-top: 100px;
    padding: 10px;
    opacity: 0;
}

.overlay-button:hover {
    background: #00203fff;
    color: #adefd1ff;
}

.cart-products:hover .cart-products-image img {
    opacity: 0.6;
    transform: scale(1.2);
}

.cart-products:hover a.overlay-button:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}
.cart-products:hover a.overlay-button:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0.05s;
}
.cart-products:hover a.overlay-button:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0.1s;
}
.cart-products:hover a.overlay-button:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0.15s;
}

.cart-products-description {
    text-align: center;
}

.cart-products-description p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #00203fff;
    margin-bottom: 10px;
}

.cart-products-description h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #00203fff;
    margin-top: 0;
    margin-bottom: 10px;
}

.cart-products-description h3::after {
    content: '$190.00';
    font-size: 1.2rem;
    margin-left: 10px;
    vertical-align: baseline;
    text-decoration-line: line-through;
    color: rgb(111, 111, 112);
}

.calification {
    color: gold;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.card {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .4s ease;
    cursor: pointer;
    margin-bottom: 30px;
}

.card__banner {
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-bottom: -30px;
}

.card__banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    object-position: 55%;
}

.card_logo {
    max-width: 100px;
    max-height: 100px;
    text-align: center;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.card_title {
    text-align: center;
    margin-top: 20px;
}

.card_title h2 {
    margin: 0;
    color: #00203fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.card_products {
    text-align: center;
    margin-top: 40px;
}

.card_products_imgs {
    display: inline-block;
    max-width: 70px;
    max-height: 70px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card_products_imgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.card_button {
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    color: #00203fff;
    transition: .4s ease;
}

.card:hover {
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover .card_button {
    background: #00203fff;
    color: #adefd1ff;
}

.footer {
    padding: 20px 0;
}

.footer-slogan h2 {
    font-size: 1.2rem;
    color: #adefd1ff;
    margin: 5px 0;
    font-weight: 500;
}

.footer-slogan p {
    font-size: .8rem;
    color: #adefd1ff;
    margin-top: 5px;
    margin-bottom: 30px;
}

.footer p {
    font-size: .8rem;
    color: #adefd1ff;
    margin-top: 5px;
}

.footer p i {
    color: gold;
    margin-right: 5px;
}

.footer-menu {
    padding: 20px 0;
}

.footer-menu h2 {
    font-size: 1.2rem;
    margin: 5px 0;
    font-weight: 500;
    color: #adefd1ff;
}

.footer-menu a, .footer-menu p {
    display: block;
    color: #adefd1ff;
    text-decoration: none;
    text-align: left;
    margin-top: 10px;
}

.footer-menu-email {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-menu-email input[type='text']{
    padding: 10px;
    outline: none;
    flex: 1;
    font-size: 1.1rem;
    border: none;
    overflow: hidden;
}

.footer-menu-email button {
    padding: 10px;
    font-size: 1.1rem;
    background: #adefd1ff;
    color: #00203fff;
    outline: none;
    border: none;
}

.follow {
    font-size: 1.1rem;
    font-weight: 500;
    color: #adefd1ff;
    margin: 15px 0 10px 0;
}

a.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    text-align: center;
    line-height: 40px;
    margin-top: 0;
    background-color: gold;
    color: #00203fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.social.social-logo {
    background-color: transparent;
}

.rights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 500;
    color: #adefd1ff;
    margin-top: 20px;
    border-top: 1px solid white;
}

.rights a {
    text-decoration: none;
    color: gold;
}

#fixed-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 40px;
    width: 40px;
    height: 40px;
    background: gold;
    text-decoration: none;
    color: #00203fff;
    cursor: pointer;
    opacity: 0;
    transition: .4s ease;
}

#fixed-button:hover {
    bottom: 35px;
}

.nav-route {
    background: white;
    display: flex;
}

.nav-route a, .nav-route span {
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    color: #00203fff;
}

.nav-route a:not(:last-child)::after {
    content: '';
    margin-left: 5px;
    border-color: gray;
    border-style: solid;
    border-right: 2px;
}

.filtro-titulo {
    font-size: 1.3rem;
    font-weight: 500;
    color: #00203fff;
    margin: 10px 0;
}

.filtro-precio {
    background: white;
    padding: 25px;
}

.custom-checkbox {
    position: relative;
    margin-bottom: 20px;
}

.custom-checkbox:last-child {
    margin-bottom: 0px;
}

.custom-control-input {
    position: absolute;
    margin: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    opacity: 0;
}

.custom-control-label {
    color: #00203fff;
    font-weight: 500;
    padding-left: 1.3rem;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.cantidad-filtro {
    color: #00203fff;
    font-size: .7rem;
    font-weight: 500;
    padding: 0.10rem;
    border: 1px solid lightgray;
    border-radius: 2px;
    text-align: center;
}

.custom-control-label::before {
    content: '';
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 0;
    top: 50%;
    border: 1px solid black;
    transform: translateY(-50%);
    background: no-repeat 50% / cover;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
    background-color: rgb(255, 215, 0);
}

.btn-group {
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dropdown--right {
    width: auto;
    right: 0;
}

.dropdown-toggle::after {
    content: '';
    display: inline-block;
    border-top: 0.25rem solid #00203fff;
    border-right: 0.25rem solid transparent;
    border-left: 0.25rem solid transparent;
    border-bottom: 0rem;
    margin-left: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.show {
    background: lightgray;
}

.dropdown-visible {
    display: block;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.navigation a {
    padding: 12px;
    background: white;
    border: 1px solid lightgray;
    color: #00203fff;
    text-decoration: none;
}

.navigation a:hover:not(.disabled,.active-nav) {
    background: lightgrey;
}

.navigation a.active-nav {
    background: gold;
    color: white;
}

.navigation a.disabled {
    cursor: not-allowed;
    color: lightgray;
}

.navigation a:not(:first-child) {
    margin-left: -1px;
}

.product-name {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 10px 0;
    color: #00203fff;
}

.calification :last-child {
    color: #aaa;
}

.product-price {
    margin-top: -5px;
    margin-bottom: 15px;
    font-weight: 800;
    color: #00203fff;
}

.button-group {
    display: flex;
}

.product-amount {
    display: flex;
    width: 160px;
}

.product-amount button, .product-amount span, .product-add-cart {
    display: block;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    border: none;
    color: #00203fff;
    user-select: none;
    margin: 0;
}

.product-add-cart {
    margin-left: 20px;
}

.product-amount span {
    background: #eee;
    flex: 1 1 auto;
    width: 1%;
}

.product-amount :nth-child(odd), .product-add-cart {
    background-color: gold;
    cursor: pointer;
}

.product-amount :nth-child(odd):hover, .product-add-cart:hover {
    background-color: rgb(240, 204, 0)
}

.radio-title {
    margin-right: 15px;
}

.custom-radio-button {
    display: inline-flex;
    margin-right: .8rem;
    position: relative;
    padding-left: 1.8rem;
    z-index: 1;
    user-select: none;
}

.custom-radio-button input {
    margin: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    opacity: 0;
}

.custom-radio-button label{
    position: relative;
    cursor: pointer;
}

.custom-radio-button label:hover::before{
    background: #ccc;
}

.custom-radio-button label::before {
    content: '';
    position: absolute;
    left: -1.8rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background: #eee;
}

.custom-radio-button input:checked ~ label::before {
    background: gold;
}

.custom-radio-button input:checked ~ label::after {
    content: '';
    position: absolute;
    left: -1.4rem;
    top: 50%;
    transform: translateY(-50%);
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background: white;
}

@media screen and (max-width: 1250px){
    .row {
        padding: 0 0px;
    }

    .nav-menu {
        padding: 25px 5px;
    }
}

@media screen and (max-width: 950px){
    .row {
        flex-wrap: wrap;
    }

    .pages .dropdown {
        position: relative;
        margin-left: 25px;
        color: black;
    }
    
    .visible{
        display: none;
    }

    .col-flex.visible.responsive {
        display: block;
        width: 100%;
    }

    .nav-bar .col-flex.visible a {
        padding: 10px 0 10px 25px;
    }

    .nav-bar {
        min-height: 75px;
        padding: 15px;
    }
    
    .hidden {
        display: block;
    }

    
    .form-group {
        width: 70%;
        margin: auto;
    }
    
    .bc-green, .bc-purple {
        font-size: 2rem;
    }

    .nav-bar {
        flex-wrap: wrap;
    }

    .benefits {
        margin-top: 15px;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        padding: 0 15px;
        position: relative;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%;
        padding: 0 15px;
        position: relative;
    }
}

@media screen and (max-width: 490px){
    .col-xsm-12{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        padding: 0 15px;
        position: relative;
    }
}

@media screen and (max-width: 400px){
    .bc-green, .bc-purple {
        font-size: 1.3rem;
    }
}